@charset "UTF-8";
body {
    color: white;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.text-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fixed-bg {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: fixed;
}

.image-bg {
    background-color: rgb(17, 17, 17);
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-position: center center
}

.minsize {
    display: inline-block;
    min-width: 780px !important;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 200px;
}

div.scrollable {
    position: relative;
    overflow-y: auto;
    min-width: 800px;
    height: 75%;
}

a {
    color: #d9d900;
}

div.character {
    max-width: 50%;
    min-width: 350px;
}

div#tooltip {
    max-width: 300px;
    width: auto;
    height: auto;
    position: absolute;
    display: none;
    border: 1px solid black;
    background: black;
    opacity: 0.85;
    text-align: left;
    pointer-events: none;
}

pre.tooltipcontent {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    border-bottom: 1px black;
    letter-spacing: 0px;
    font-size: 13px;
    color: white;
    opacity: 1;
    margin: 4px;
    border: 0;
    background-color: transparent;
}

.bootstrap3-dialog {
    color: black;
}

.overwell .well {
    background-color: transparent;
}

div.skilltree1class {
    position: absolute;
    top: 70px;
    width: 100%;
    left: 5%;
}

.overjumbotron .jumbotron {
    background-color: transparent;
}

div.skilltreeclass {
    position: absolute;
    margin: 0 auto;
    width: auto;
    height: auto;
    top: auto;
}

div.hiddendiv {
    opacity: 0;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    transform: translate(-100%, -100%);
}

div.controlpanel {
    max-width: 30%;
    min-width: 300px;
}

span.alertlow {
    color: red;
}

div.skilltree {
    min-width: 900px;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    position: absolute;
    left: 10%;
}

td.charactername {
    text-align: center;
}

span.levellable {
    font-weight: bold;
}

.center {
    text-align: center;
    align-content: center;
    align-items: center;
}

ul.charInfo {
    position: relative;
    top: -10px;
}

ul.sptable {
    position: absolute;
    left: 0px;
    top: 90px;
}

li.passiveskilltree {
    float: right;
}

button:hover {
    cursor: default;
}

img.disabled,
div.disabled,
button.disabled {
    filter: brightness(60%);
}

div.bganim {
    z-index: -100;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background: linear-gradient(219deg, #6f6f6f, #757575);
    background-size: 400% 400%;
    -webkit-animation: gradientbganim 11s ease infinite;
    -moz-animation: gradientbganim 11s ease infinite;
    -o-animation: gradientbganim 11s ease infinite;
    animation: gradientbganim 11s ease infinite;
}

.icons8-Unavailable {
    fill: false;
    width: 640px;
    height: 640px;
}

.icon {
    display: inline-block;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@-webkit-keyframes gradientbganim {
    0% {
        background-position: 83% 0%
    }
    50% {
        background-position: 18% 100%
    }
    100% {
        background-position: 83% 0%
    }
}

@-moz-keyframes gradientbganim {
    0% {
        background-position: 83% 0%
    }
    50% {
        background-position: 18% 100%
    }
    100% {
        background-position: 83% 0%
    }
}

@-o-keyframes gradientbganim {
    0% {
        background-position: 83% 0%
    }
    50% {
        background-position: 18% 100%
    }
    100% {
        background-position: 83% 0%
    }
}

@keyframes gradientbganim {
    0% {
        background-position: 83% 0%
    }
    50% {
        background-position: 18% 100%
    }
    100% {
        background-position: 83% 0%
    }
}

.midcenter {
    z-index: 1002;
    position: fixed;
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50px, -50px);
}

div.fixedDiv {
    z-index: 1001;
    position: fixed;
    top: 0px;
    left: 0px;
}

div.opacity50 {
    background-color: black;
    opacity: 0.5;
}

div.stretch {
    height: 100%;
    width: 100%;
}


/*
	The required HTML :
	<div class="windows8-loading">
		<b></b>
		<b></b>
		<b></b>
		<b></b>
		<b></b>
	</div>
*/

.windows8-loading {
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    text-align: left;
    border-radius: 50%;
}

.windows8-loading * {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-animation: windows8-loading_anim 4.5s infinite;
    -moz-animation: windows8-loading_anim 4.5s infinite;
    -ms-animation: windows8-loading_anim 4.5s infinite;
    -o-animation: windows8-loading_anim 4.5s infinite;
    animation: windows8-loading_anim 4.5s infinite;
}

.windows8-loading *:nth-child(2) {
    -webkit-animation-delay: 0.24s;
    -moz-animation-delay: 0.24s;
    -ms-animation-delay: 0.24s;
    -o-animation-delay: 0.24s;
    animation-delay: 0.24s;
}

.windows8-loading *:nth-child(3) {
    -webkit-animation-delay: 0.48s;
    -moz-animation-delay: 0.48s;
    -ms-animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    animation-delay: 0.48s;
}

.windows8-loading *:nth-child(4) {
    -webkit-animation-delay: 0.72s;
    -moz-animation-delay: 0.72s;
    -ms-animation-delay: 0.72s;
    -o-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

.windows8-loading *:nth-child(5) {
    -webkit-animation-delay: 0.96s;
    -moz-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s;
}

.windows8-loading *:after {
    content: "•";
    position: absolute;
    left: 50%;
    margin-left: -.17em;
    bottom: -.46em;
    font: xx-large bold sans-serif !important;
    color: red;
}


/* Animations */

@-webkit-keyframes windows8-loading_anim {
    0% {
        -webkit-transform: rotate(0deg);
        -webkit-animation-timing-function: ease-out;
        opacity: 1;
    }
    7.6% {
        -webkit-transform: rotate(120deg);
        -webkit-animation-timing-function: linear;
    }
    30.4% {
        -webkit-transform: rotate(240deg);
        -webkit-animation-timing-function: ease-in;
    }
    38% {
        -webkit-transform: rotate(360deg);
        -webkit-animation-timing-function: ease-out;
    }
    45.6% {
        -webkit-transform: rotate(480deg);
        -webkit-animation-timing-function: linear;
    }
    68.4% {
        -webkit-transform: rotate(600deg);
        -webkit-animation-timing-function: ease-in;
    }
    76% {
        -webkit-transform: rotate(720deg);
        opacity: 1;
    }
    76.01% {
        opacity: 0;
    }
}

@-moz-keyframes windows8-loading_anim {
    0% {
        -moz-transform: rotate(0deg);
        -moz-animation-timing-function: ease-out;
        opacity: 1;
    }
    7.6% {
        -moz-transform: rotate(120deg);
        -moz-animation-timing-function: linear;
    }
    30.4% {
        -moz-transform: rotate(240deg);
        -moz-animation-timing-function: ease-in;
    }
    38% {
        -moz-transform: rotate(360deg);
        -moz-animation-timing-function: ease-out;
    }
    45.6% {
        -moz-transform: rotate(480deg);
        -moz-animation-timing-function: linear;
    }
    68.4% {
        -moz-transform: rotate(600deg);
        -moz-animation-timing-function: ease-in;
    }
    76% {
        -moz-transform: rotate(720deg);
        opacity: 1;
    }
    76.01% {
        opacity: 0;
    }
}

@-o-keyframes windows8-loading_anim {
    0% {
        -o-transform: rotate(0deg);
        -o-animation-timing-function: ease-out;
        opacity: 1;
    }
    7.6% {
        -o-transform: rotate(120deg);
        -o-animation-timing-function: linear;
    }
    30.4% {
        -o-transform: rotate(240deg);
        -o-animation-timing-function: ease-in;
    }
    38% {
        -o-transform: rotate(360deg);
        -o-animation-timing-function: ease-out;
    }
    45.6% {
        -o-transform: rotate(480deg);
        -o-animation-timing-function: linear;
    }
    68.4% {
        -o-transform: rotate(600deg);
        -o-animation-timing-function: ease-in;
    }
    76% {
        -o-transform: rotate(720deg);
        opacity: 1;
    }
    76.01% {
        opacity: 0;
    }
}

@keyframes windows8-loading_anim {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    7.6% {
        transform: rotate(120deg);
        animation-timing-function: linear;
    }
    30.4% {
        transform: rotate(240deg);
        animation-timing-function: ease-in;
    }
    38% {
        transform: rotate(360deg);
        animation-timing-function: ease-out;
    }
    45.6% {
        transform: rotate(480deg);
        animation-timing-function: linear;
    }
    68.4% {
        transform: rotate(600deg);
        animation-timing-function: ease-in;
    }
    76% {
        transform: rotate(720deg);
        opacity: 1;
    }
    76.01% {
        opacity: 0;
    }
}

.fadeinAppear {
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}